/*variables for color*/
$pumpkin-orange: #ff821e;
$shamrock-green: #3bd76a;
$teal: #009688;
$light-blue: #71aaff;
$background-grey: #edefe5;
$light-grey: #fafafa;
$dark: #1d302b;


$path-img: '';
//responsive device
$breakpoints: (
        'mobile':(max-with: 480px),
        'hmobile': (max-width: 767px),
        'tablet': (max-width: 991px),
        'htablet': (max-width: 1199px),
        'desktop': (min-width: 1199px),
        'HDdesktop': (min-width: 1440px)
) !default;

