.input-field {
  label{
    color: $dark;
    font-size: 16px !important;
  }
  input{
    color: $dark;
    border-bottom-color: #1d302b;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
  }
}

.tv-icon{
  display: inline-block;
  width: 18px;
  height: 18px;
  &.tv-icon-google{
    background: url("../../img/google_logo32.png") no-repeat center;
    background-size: 100%;
  }
}

.form-purchase .error{
  font-size: 11px !important;
  white-space: nowrap;
}