.main-menu{
  .dropdown-button{
    width: 60px;
    text-align: center;
    color: #ffffff;
    height: 64px;
    line-height: 64px;
    display: inline-block;
    i{
      line-height: 64px;
      height: 64px;
    }
  }
}