.header{
  height: 64px;
  border-radius: 8px;
  background-color: $dark;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.24), 0 0 4px 0 rgba(0, 0, 0, 0.12);
  padding: 0 14px;
  color: #ffffff;
  position: relative;
  z-index: 10;
  .logo{
    padding: 17px 0 17px 0;
    img{
      height: 30px;
    }
  }
  .left{
    .btn{
      margin-left: 20px;
      margin-top: 14px;
      font-weight: 500;
      letter-spacing: 0.5px;
    }
  }
  .btn-back{
    color: $dark;
    i{
      font-size: 24px;
      margin-right: 11px;
    }
  }
  .search-box{
    position: relative;
    width: 516px;
    opacity: 0.65;
    padding-top: 5px;
    margin-left: 30px;
    input{
      width: 100%;
      border-bottom: solid 1px #ffffff;
      padding-left: 30px;
      height: 40px;
      line-height: 40px;
    }
    button{
      background: none;
      border:none;
      position: absolute;
      bottom: 20px;
      left: 0;
      padding: 0;
    }
  }
  .button-bg{
    margin-top: 14px;
  }
}

